<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      
       <tr>
         <td> <b>POST</b> </td>
       </tr>
       <tr>
         <td><%= post.content %></td>
         <td><%= link_to 'Show', post %></td>
         <td><%= link_to 'Edit', edit_post_path(post) %></td>
         <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
  </tbody>
</table>
<table>
  <tbody>

     <% post.comments.each do |comment| %>
  
        <tr><td></td><td><b>COMMENT</b></td></tr>      
        <tr>
          <td></td><td><%= comment.content %></td>
          <td></td><td><%= link_to 'Show', comment %></td>
          <td></td><td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td></td><td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
     <% end %>
  </tbody>
    <% end %>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
